html, body, #root{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container{
    width: 100%;
    height: 100%;
    background-color: rgb(225, 214, 169);
    display: flex;
    justify-content: center;
    align-items: center;
}

.radionav{
    width:100%;
    height: 30px;
    border-bottom: 2px solid black;
    flex: 1;
    display:flex;
    margin-bottom: 20px;
}

.left{
    height:100%;
    justify-content: center;
    align-items: center;
    /*background-color:orange;*/
    display:flex;
    flex-direction: column;
    border-right:2px solid black;
    flex:2;
}

.right{
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color:lightgray;
    flex:0.7;
}

