.die{
    aspect-ratio: 1;
    height: 80%;
    background-color: antiquewhite;  
    border: 2px solid black;
    display: flex;
    margin-bottom: 5%;
}

.devicecol{
    flex: 1;
    display:flex;
    flex-direction: column;
}

.device{
    border: 1px solid black;
    flex:1;
    font-size: 20px;
}